<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{base}"
>

<head>
    <title th:text="${loggedInUser.name}">Dashboard PAGE</title>
</head>
<body>
    <!-- <div id="content" style="height: 1000px"> -->
    
    
        
                
   <div layout:fragment="content" class="pt-20 pl-64" style="height: 1000px;">

    
         <!-- if user logged in show side bar -->
    <div th:if="${loggedInUser}">
        <div th:replace="~{users/sideBAR :: sidebar}"></div>
    </div>

    
        <!-- Profile page content yahan likho -->
        <h2>Welcome to your Dashboard!</h2>
        <!-- Add more profile details here -->
   
    
    </div>
</body>
</html>