<!-- start of navbar -->
    <nav th:fragment="user-navbar" class="fixed top-0 left-0 right-0 z-50 w-full h-16 pl-64 bg-white border border-gray-200 rig dark:bg-gray-900 md:pl-64">
  <div class="flex flex-wrap items-center justify-between p-4"> 
    
    <!-- button for minimization -->
    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 text-sm text-gray-500 rounded-lg ms-3 sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
   <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>


    <!-- Logo aur Brand Name -->
    <a th:href="@{'/'}" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img th:src="@{'/images/SCM.png'}" class="h-8" alt="Logo" />
      <span class="self-center text-2xl font-semibold text-blue-700 whitespace-nowrap dark:text-white">SCM</span>
    </a>

    <!-- Buttons -->
    <div class="flex space-x-3 md:order-2 md:space-x-4 rtl:space-x-reverse">
      <button id="theme_changer" class="px-4 py-2 bg-gray-200 rounded dark:text-black dark:bg-gray-500">
        <i class="fa-regular fa-lightbulb"></i> <span>Light</span>
      </button>


      <a th:href="@{'/user/profile'}"
        type="button"
        class="hidden px-4 py-2 text-sm font-medium text-center text-white bg-blue-500 border border-gray-200 rounded-lg md:flex focus:ring-4 focus:outline-none focus:ring-blue-50 dark:bg-blue-600 dark:text-white dark:hover:bg-blue-700 dark:focus:ring-blue-800 whitespace-nowrap">
        <span th:text="${loggedInUser.name}"></span>
      </a>
     
      <a th:href="@{'/logout'}"
        type="button"
        class="hidden px-4 py-2 text-sm font-medium text-center text-white bg-red-500 border border-gray-200 rounded-lg md:flex focus:ring-4 focus:outline-none focus:ring-blue-50 dark:bg-gray-900 dark:text-blue-400 dark:border-blue-400 dark:hover:bg-gray-800 dark:focus:ring-blue-800 whitespace-nowrap">
        LOGOUT
      </a>

      
      <a th:href="@{'#'}"
        type="button"
        class="inline-flex p-2 text-sm text-blue-400 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Sign Up</span>
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </a>
    </div>

    <!-- Navigation Links -->
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul class="flex flex-col p-4 mt-4 font-medium bg-white border border-gray-200 rounded-lg md:p-0 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a th:href="@{'/home'}"
             class="block px-3 py-2 text-blue-700 rounded-sm bg-gray-50 hover:bg-gray-100 md:p-0 md:bg-transparent md:text-blue-700 md:dark:text-blue-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            Home
          </a>
        </li>
        <li>
          <a th:href="@{'/About'}"
             class="block px-3 py-2 text-blue-700 rounded-sm bg-gray-50 hover:bg-gray-100 md:p-0 md:bg-transparent md:text-blue-700 md:dark:text-blue-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            About
          </a>
        </li>
        <li>
          <a th:href="@{'/Services'}"
             class="block px-3 py-2 text-blue-700 rounded-sm bg-gray-50 hover:bg-gray-100 md:p-0 md:bg-transparent md:text-blue-700 md:dark:text-blue-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            Services
          </a>
        </li>
        <li>
          <a th:href="@{'/user/contact'}"
             class="block px-3 py-2 text-blue-700 rounded-sm bg-gray-50 hover:bg-gray-100 md:p-0 md:bg-transparent md:text-blue-700 md:dark:text-blue-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            Contact
          </a>
        </li>
        
        
      <li> 
        <a th:href="@{'/user/profile'}"
        type="button"
        class="px-4 py-2 text-sm font-medium text-center text-white bg-green-500 border border-gray-200 rounded-lg md:hidden hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-50 dark:bg-blue-600 dark:text-white dark:hover:bg-blue-700 dark:focus:ring-blue-800 whitespace-nowrap">
        <span th:text="${loggedInUser.name}"></span>
      </a>
      </li>
      <li>
      <a th:href="@{'/logout'}"
        type="button"
        class="px-4 py-2 text-sm font-medium text-center text-white bg-red-600 border border-gray-200 rounded-lg md:hidden hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-50 dark:bg-gray-900 dark:text-blue-400 dark:border-blue-400 dark:hover:bg-gray-800 dark:focus:ring-blue-800 whitespace-nowrap">
        LOGOUT
      </a>
      </li>

      
      </ul>
    </div>
  </div>
</nav>


<!-- /end of navbar  -->
