<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{base}"
>

<head>
    <title>OTP</title>
</head>
<body>
    <!-- <div id="content" style="height: 1000px"> -->
    
    
        
                
   <div layout:fragment="content" class="pt-20 pl-64" style="height: 1000px;">

    <div class="w-3/4 p-4 mx-auto bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700" style="margin-top:6rem;">

        

        <form 
        method="post"
        th:action="@{'/verify-otp'}"
        class="max-w-sm mx-auto">
        <div class="mb-5">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter OTP</label>
            <input name="otp" type="text" id="OTP1" maxlength="4" pattern="\d{4}" inputmode="numeric"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Enter 4-digit OTP" required />
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>

        
        
    </div>
        

    
       
   
    
    </div>
</body>
</html>